
@import "tailwindcss";
@plugin "daisyui";
@import "./theme.css";

:root {
  --color-1: #ff5722;
  --color-2: #d81b7e;
  --color-3: #7c3aed;

  --primary-gradient: linear-gradient(
    to right,
    var(--color-1),
    var(--color-2),
    var(--color-3)
  );
}